#background {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#menu-background {
    width: 100%;
    height: 100%;
    z-index: -1;
}

#home-box {
    width: 115rem;
    height: 44rem;
    position: absolute;
    margin-top: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-weight: bold;
    font-size: clamp(2rem, 2.5vw, 3rem);
}